In [1]:
"""
Given a list of numbers return the most repeated Digits in an array, the output should be in ascending order
""" 
list_test = [25,2,3,57,38,41]
independent_list = []
for x in list_test:
    for j in str(x):
        independent_list.append(int(j))
        

        
counts_list = [(x,independent_list.count(x)) for x in set(independent_list)]
max_value = max([x[1] for x in counts_list])
sorted([x[0] for x in counts_list if x[1] == max_value])

[2, 3, 5]

In [3]:
"""
Given list of integers, return the next integer in a list for eg : [1,2,3] should return [1,2,4]
""" 
integers = [1, 2, 3]
strings = [str(integer) for integer in integers]
a_string = "".join(strings)
an_integer = int(a_string)
[int(x) for x in str(an_integer+1)]

[1, 2, 4]

In [14]:
"""
Georgian leap year problem:
The year can be evenly divided by 4, is a leap year, unless:
    The year can be evenly divided by 100, it is NOT a leap year, unless:
        The year is also evenly divisible by 400. Then it is a leap year.
"""

def is_leap(year):
    leap = False
    year = int(year)
    
    # Write your logic here
    if 1900<=year<=(10**5):
        if year%4 == 0:
            if (year%100 !=0) or (year%400 == 0):
                leap = True
        else:
            leap = False
        
    return leap

year = int(input())
print(is_leap(year))

1300
False

In [21]:
"""
Given number n
print 123...n
for eg:
given 4 
print 1234
"""


n = int(input())
if 1<=n<=150:
    print(int(''.join([str(x) for x in range(1,n+1)])))

10
12345678910

<h1> STRINGS </h1>

In [ ]:
"""
SWAP CASE :
input abcd output ABCD 
"""
def swap_case(s):
    if 0<len(s)<=1000:
        return (''.join([x.lower() if x.isupper() else x.upper() for x in s]))

In [45]:
"""
Given an integer, n, print the following values for each integer  from  to :

Decimal
Octal
Hexadecimal (capitalized)
Binary
Function Description

Complete the print_formatted function in the editor below.

print_formatted has the following parameters:

int number: the maximum value to print
Prints

The four values must be printed on a single line in the order specified above for each  from  to . Each value should be space-padded to match the width of the binary value of  and the values should be separated by a single space.

Input Format

A single integer denoting .

Constraints

1<=n<=99




"""



def print_formatted(number):
    # your code goes here
    if 1<=number<=99:
        for x in range(1,number+1):
            width = len(bin(number)[2:])
            print(str(x).rjust(width),(oct(x)[2:]).rjust(width),((hex(x)[2:]).upper()).rjust(width),(bin(x)[2:]).rjust(width))

if __name__ == '__main__':
    n = int(input())
    print_formatted(n)

17
    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001

<h4>Text Alignment Task:</h4>

In [46]:
thickness = 5
c='H'
for i in range(thickness):
    print((c*i).rjust(thickness-1)+c+(c*i).ljust(thickness-1))


for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))


for i in range((thickness+1)//2):
    print((c*thickness*5).center(thickness*6))  

for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6)) 

for i in range(thickness):
    print(((c*(thickness-i-1)).rjust(thickness)+c+(c*(thickness-i-1)).ljust(thickness)).rjust(thickness*6))

    H
   HHH
  HHHHH
 HHHHHHH
HHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
                    HHHHHHHHH
                     HHHHHHH
                      HHHHH
                       HHH
                        H

In [57]:
#Door Mat:

n, m = [int(x) for x in input().split()] # Take 2 inputs 

### Create a list of the pattern
pattern = [('.|.'*(2*i + 1)).center(m, '-') for i in range(n//2)]

# Concatinate patternlist with WELCOOME and  reverse pattern list, in other words : patternlist + ---WELCOME--- + patternlist[::-1]
print('\n'.join(pattern + ['WELCOME'.center(m, '-')] + pattern[::-1]))

9 27
------------.|.------------
---------.|..|..|.---------
------.|..|..|..|..|.------
---.|..|..|..|..|..|..|.---
----------WELCOME----------
---.|..|..|..|..|..|..|.---
------.|..|..|..|..|.------
---------.|..|..|.---------
------------.|.------------

In [104]:
"""
Capitalize String

if 0 < len(s) < 1000:
        for i in s[:].split():
            s = s.replace(i,i.capitalize())
        return s
        
"""


import re
def solve(s):
    if 0 < len(s) < 1000:
        for i in s[:].split():
            s = s.replace(i,i.capitalize())
        return s

# Code for Extracting various possible substrings strating with a set of letters:

In [23]:
s = "BANANA"
kevin = []
vowels = "AEIOU"
for i, letter in list(enumerate(s)):
    if letter in vowels:
        for j in range(i+1,len(s)+1):
            kevin.append(s[i:j])



kevinscore = sum([kevin.count(x) for x in set(sorted(kevin))])


stuart = []
for i, letter in list(enumerate(s)):
    if letter  not in vowels:
        for j in range(i+1,len(s)+1):
            stuart.append(s[i:j])
stuartscore = sum([stuart.count(x) for x in set(sorted(stuart))])
stuartscore


if stuartscore > kevinscore:
    print("Stuart"+" "+str(stuartscore))
elif kevinscore > stuartscore:
    print("Kevin"+" "+str(kevinscore))
else:
    print("Draw")

Stuart 12

In [36]:
def minion_game(string):
    vowels = {'A','E','I','O','U'}
    kevin = 0
    stuart = 0
    for i in range(len(string)):
        if string[i] in vowels:
            kevin += len(string) - i
        else:
            stuart += len(string) - i

    if kevin == stuart:
        print("Draw")
    elif kevin > stuart:
        print("Kevin " + str(kevin))
    else:
        print("Stuart " + str(stuart))

In [93]:

s = 'AABCAAADA'
division = []
for i in indexes:
    division.append(s[i:i+3])

for i in division:
    print(''.join(set(i)))

BA
CA
DA

In [19]:
"".join(dict.fromkeys('AAB'))

'AB'

### MERGE THE TOOLS PROBLEM:

In [29]:
k = 3
s = 'AABCAAADA'
n = len(s)
for i in range(0,n,k):
    print("".join(dict.fromkeys(s[i:i+k])))

AB
CA
AD

## SETS : 
### Set Avg

In [1]:

sum(set([int(x) for x in '161 182 161 154 176 170 167 171 170 174 '.split()]))/len(set([int(x) for x in '161 182 161 154 176 170 167 171 170 174 '.split()]))

169.375

### No IDEA Problem:

In [10]:
# n,m = input().strip(' ')
# array_list = input().strip(' ')
# set_A = input().strip(' ')
# set_B = input().strip(' ')


happiness = 0
n,m = input().split(' ')
array_list = list(map(int,input().split(' ') ))
set_A = set(map(int,input().split(' ')))
set_B = set(map(int,input().split(' ')))

for i in array_list:
    if i in set_A:
        happiness+=1
    elif i in set_B:
        happiness-=1
print(happiness)

3 2
1 5 3
3 5
2 7
2

### set.add() challenge

In [33]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
a = input()
lines = ""
for i in range(int(a)):
    lines+=input()+"\n"
    

print(len(set(lines.strip('').rstrip('\n').split('\n'))))

7
UK
UK
India
India
Canda
Canda
Aus
4



### set.discard() vs set.remove() vs set.pop()

.discard(x)
This operation also removes element  from the set.
If element  does not exist, it `does not raise a KeyError`.
The .discard(x) operation returns None.




remove(x)
This operation removes element  from the set.
If element  does not exist, `it raises a KeyError`.
The .remove(x) operation returns None.


pop(x)
This operation removes and return an arbitrary element from the set.
If there are no elements to remove, `it raises a KeyError.`

In [47]:
"""
Given input:
9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop 
discard 6
remove 5
pop 
discard 5

Output: 
sum of elements of set after operations: 4
"""

s = set(map(int, "1 2 3 4 5 6 7 8 9".split()))
numnber_of_operations = 10



operations = ""
for i in range(int(numnber_of_operations)):
    operations+=input()+"\n"

    
operations = operations.strip('\n').split('\n')
for i in range(numnber_of_operations):
    if "pop" in operations[i]:
        s.pop()
    elif "discard" in operations[i]:
        s.discard(int(operations[i].split()[1]))
    elif "remove" in operations[i]:
        s.remove(int(operations[i].split()[1]))
    else:
        pass
        
print(sum(s))

pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

### Set.union()
    -Returns the common elements (elemenates duplicates) and non common between set A and Set of iterable ( or Set B)
    
### Set A | set B :
        -Same as union but only works for sets not other iterables
        
 ### set intersection:
     -- returns only common 
     
     
  ### SetA.difference(setB) : This gives the elements belonging in set A only.\
  
  
  
   
  ### Symmetric difference : ( Uncommon)
 - The .symmetric_difference() operator returns a set with all the elements that are in the set and the iterable but not both. Sometimes, a ^ operator is used in place of the .symmetric_difference() tool, but it only operates on the set of elements in set.
The set is immutable to the .symmetric_difference() operation (or ^ operation).

In [67]:

s2 =  set(map(int,'1 2 3 4 5 6 7 8 9'.split()))
s1 = set(map(int, '10 1 2 3 11 21 55 6 8'.split()))
print(len(s1.intersection(s2)))
print(s1.union(s2))
print(s1|s2)

5
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 21, 55}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 21, 55}

In [69]:
print(s1.union([10,20,30,1,2]))
print(s1 | [10,20,30,1,2]) ## This ONE GIVES TYPE ERROR as RHS should be a SET not LIST.

{1, 2, 3, 6, 8, 10, 11, 20, 21, 55, 30}

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [70]:
s1.difference(s2)

{10, 11, 21, 55}

In [73]:
s1

{1, 2, 3, 6, 8, 10, 11, 21, 55}

In [74]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [75]:
s1.symmetric_difference(s2)

{4, 5, 7, 9, 10, 11, 21, 55}

set.difference_update() or set.intersection_update() or set.update() this will make the change  in the set ( MUTABLE).

In [ ]:
"""
16
 1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
 4
 intersection_update 10
 2 3 5 6 8 9 1 4 7 11
 update 2
 55 66
 symmetric_difference_update 5
 22 7 35 62 58
 difference_update 7
 11 22 35 55 58 62 66
 
"""

len_set = input()
set_A = input()
set_A = set(map(int,set_A.split()))
num_operations = input()
num_lines = 2*(int(num_operations))


set_operations = ""
for i in range(num_lines):
    set_operations+=input()+"\n"
    



s1 = set_operations.strip("\n").split("\n")

for i in range(len(s1)):
    if s1[i].split()[0] == "intersection_update":
        set_B = set(map(int,s1[i+1].split(" ")))
        set_A.intersection_update(set_B)
#         print(s_A)
    elif s1[i].split()[0] == "update":
        set_B = set(map(int,s1[i+1].split(" ")))
        set_A.update(set_B)
#         print(s_A)
    elif s1[i].split()[0] == "difference_update":
        set_B = set(map(int,s1[i+1].split(" ")))
        set_A.difference_update(set_B)
#         print(s_A)
        
    elif s1[i].split()[0] == "symmetric_difference_update":
        set_B = set(map(int,s1[i+1].split(" ")))
        set_A.symmetric_difference_update(set_B)
#         print(s_A)
    else:
        pass
        
        
print(sum(set_A))

In [133]:



s1 = set_operations.strip("\n").split("\n")

for i in range(len(s1)):
    if s1[i].split()[0] == "intersection_update":
        set_B = set(map(int,s1[i+1].split(" ")))
        set_A.intersection_update(set_B)
#         print(s_A)
    elif s1[i].split()[0] == "update":
        set_B = set(map(int,s1[i+1].split(" ")))
        set_A.update(set_B)
#         print(s_A)
    elif s1[i].split()[0] == "difference_update":
        set_B = set(map(int,s1[i+1].split(" ")))
        set_A.difference_update(set_B)
#         print(s_A)
        
    elif s1[i].split()[0] == "symmetric_difference_update":
        set_B = set(map(int,s1[i+1].split(" ")))
        set_A.symmetric_difference_update(set_B)
#         print(s_A)
    else:
        pass
        
        
print(sum(s_A))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 66, 11, 55}
{1, 2, 3, 4, 5, 6, 8, 9, 66, 11, 35, 22, 55, 58, 62}
{1, 2, 3, 4, 5, 6, 8, 9}
38

In [110]:
for i in s1:
    print(i.split(" "))

['intersection_update', '10']
['2', '3', '5', '6', '8', '9', '1', '4', '7', '11']
['update', '2']
['55', '66']
['symmetric_difference_update', '5']
['22', '7', '35', '62', '58']
['difference_update', '7']
['11', '22', '35', '55', '58', '62', '66']

In [124]:
 if s1[2].split()[0] == "update":
        set_B = set(map(int,s1[3].split(" ")))

### symmetric difference problem:

In [2]:
sorted({2,4,5,9}.symmetric_difference({2,4,11,12}),reverse=False)

[5, 9, 11, 12]

### The Captains Room ProbleM:

#### Method 1: This method Fails as lists take longer execution time as opposed to sets

In [20]:

k_value = 5
list_value = '1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2'.split() 
list_value = list(map(int,list_value))
print(int(''.join([str(i) for i in list_value if list_value.count(i) == 1])))

8

## Method 2: Sets are faster than Lists:

In [17]:
def captains_room():
    k_value, list_value = input(), input()
    list_value = list(map(int,list_value.split()))
    single, multiple = set(), set()
    for i in list_value:
        if i not in single:
            single.add(i)
        else:
            multiple.add(i)


    print(single.difference(multiple).pop())

captains_room()

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

# Chceck Subset Problem:

In [80]:
def check_subset():
    subsets = ""
    test_cases = input()
    for i in range(int(test_cases)*4):
        subsets+=input()+"\n"


    subset_list = subsets.strip('\n').split('\n')
    subset_number = int(round(len(subset_list)/int(test_cases)))
    for i in range(0,len(subset_list),subset_number):
        newlist = subset_list[i:i+subset_number]
        subset_A = set(map(int,newlist[1].split(' ')))
        subset_B = set(map(int,newlist[3].split(' ')))
        print(subset_A.issubset(subset_B))

In [97]:
def checkstrict_superset():
    input_set =set(map(int, input().split()))
    no_sets  = int(input())
    boolean = []
    sets_to_compare = ""
    for i in range(no_sets):
        sets_to_compare+=input()+ "\n"

    sets_to_compare = sets_to_compare.strip("\n").split("\n")
    for i in sets_to_compare:
        s = set(map(int,i.split()))
        boolean.append(input_set.issuperset(s))

    print(all(boolean))

## Math Module:

In [101]:
import cmath

w = 2 + 3j
r,theta = cmath.polar(w)
print(r)
print(theta)

3.605551275463989
0.982793723247329

In [106]:
cmath.polar(complex('2+3j'))

(3.605551275463989, 0.982793723247329)

Find MBC Angle problem:

In [126]:
AB = 10
BC = 10 
AC = math.sqrt((AB**2) + (BC**2)) 
H = AC/2.0
A = BC/2.0 
degree_sign = u"\N{DEGREE SIGN}"
str(round(math.degrees(math.acos(A/H)))) + degree_sign

'45Â°'

# Palindrome with Strings:

In [50]:
### Triangle Quest:

for i in range(1,int(6)): #More than 2 lines will result in 0 score. Do not leave a blank line also
    print (int((''.join(list(map(str,list(range(1,6))))[0:i]) + ''.join(list(map(str,list(range(1,6))))[0:i])[::-1][1:]  )))

1
121
12321
1234321
123454321

In [69]:
### Triangle Quest with integers:
### But,this is wrong as it has STRING LITERAL '*'

for i in range(1,int(6)): #More than 2 lines will result in 0 score. Do not leave a blank line also
    print(*list(range(1,6))[0:i]+ list(range(1,6))[0:i][::-1][1:],sep='')

1
121
12321
1234321
123454321

In [91]:
## Another method with strings: 
for i in range(1,int(8)):
    print( int(str(1)*i)  *  int(str(1)*i))
    
    
    
    
### Non Elegant , NON - Mathematical Method:
# for i in range(0,int(input())):
#     print([1,121,12321,1234321,123454321,12345654321,1234567654321,123456787654321,12345678987654321][i])

1
121
12321
1234321
123454321
12345654321
1234567654321

In [92]:
## Mathematical approach 
for i in range(1,6):
    print((10**i//9)**2)

1
121
12321
1234321
123454321

### Mod Divmod

In [94]:
a = 177
b = 10
print(a//b)
print(a%b)
print(divmod(a,b))

17
7
(17, 7)

## Power and Mod Power:

Mod power gives the modules of a**b and m 
syntax: pow(a,b,m)

In [95]:
a = int(input())
b = int(input())
m = int(input())
print(pow(a,b))
print(pow(a,b,m))

3
4
5
81
1